extends ../wrapper

block content
	form(action='/admin/config', method='POST')
		ul
		li: label Backend endpoint:
			input(type='text', value=conf.get('backend:endpoint'), name='backend[endpoint]')
		li: label Backend offline:
			input(type='checkbox', checked=conf.get('backend:offline'), name='backend[offline]')
		li: label Yandex client_id:
			input(type='text', value=conf.get('passport:yandex:client_id'), name='passport[yandex][client_id]')
		li: label Yandex client_secret:
			input(type='text', value=conf.get('passport:yandex:client_secret'), name='passport[yandex][client_secret]')
		li: label Yandex callback_url:
			input(type='text', value=conf.get('passport:yandex:callback_url'), name='passport[yandex][callback_url]')
		li: label Github client_id:
			input(type='text', value=conf.get('passport:github:client_id'), name='passport[github][client_id]')
		li: label Github client_secret:
			input(type='text', value=conf.get('passport:github:client_secret'), name='passport[github][client_secret]')
		li: label Github callback_url:
			input(type='text', value=conf.get('passport:github:callback_url'), name='passport[github][callback_url]')
		li
			button Send

