extends ../wrapper

block content
	.container.content
		.row
			.col-md-12
				form(action='/dashboard/edit', method='POST')
					label Name:
						input(type='text', name='name', value=user.name())
					label Email:
						input(type='email', name='email', value=user.email())
					label Type:
						select(name='type')
							option(value='simple', selected=user.type() === 'simple') Simple
							option(value='normal', selected=user.type() === 'normal') Normal
							option(value='advanced', selected=user.type() === 'advanced') Advanced
					button Save
