extends ../wrapper

block content
	.container.content
		.tab-v3
			ul.nav.nav-pills.list-inline.margin-bottom-40
				li: a(href='/dashboard/') Dashboard
				li: a(href='/tasks/') Tasks
				li: a(href="/tasks/create/") Create task

		.tag-box.tag-box-v1.margin-bottom-40
			form.pull-right(action='/tasks/remove/', method='POST')
				input(type='hidden', name='id', value=task.id())
				button.btn.btn-u.btn-brd.rounded.btn-u-sm Remove
			h2 #{task.name()}
			hr
			.row
				.col-md-3
					.pie-progress-charts(data-id="#{task.id()}", data-percent="100")
						.inner-pchart.col-md-3
							div.circle(id='#{task.id()}')
				.col-md-9 
					p #{task.id()}
					p #{task.priority()}
					p #{task.status()}
					p #{task.userId()}